name: Docker publish

on:
  workflow_dispatch: 

jobs:
  docker-base-image:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        component:
          - trivy-adapter
          - core
          - db
          - exporter
          - jobservice
          - log
          - nginx
          - portal
          - prepare
          - redis
          - registry
          - registryctl

    defaults:
      run:
        working-directory: ./harbor

    steps:
      - uses: extractions/setup-just@v3
      - uses: actions/checkout@v4
        with:
          submodules: true
          token: ${{ secrets.GITHUB_TOKEN }} 
          fetch-depth: 0

      - uses: docker/setup-qemu-action@v3 # 允许构建 arm64 镜像
      - uses: docker/setup-buildx-action@v3
        with:
          driver: docker-container
          driver-opts: network=host

      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - id: prepare
        run: echo "tag=$(cat ../version)" >> $GITHUB_ENV

      - name: Build base image
        uses: docker/build-push-action@v6
        with:
          context: ./harbor
          file: ./harbor/make/photon/${{ matrix.component }}/Dockerfile.base
          platforms: linux/amd64,linux/arm64 # 同时构建 amd64 和 arm64
          push: true
          tags: ghcr.io/${{ github.repository }}/harbor-${{ matrix.component }}-base:${{ env.tag }}

  docker-image:
    needs:
      - docker-base-image
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        component:
          - prepare
          - db
          - portal
          - core
          - jobservice
          - log
          - nginx
          - registryctl
          - trivy_adapter
          - redis
          - standalone_db_migrator
          - exporter

    defaults:
      run:
        working-directory: ./harbor

    steps:
      - uses: extractions/setup-just@v3
      - uses: actions/checkout@v4
        with:
          submodules: true

      - uses: actions/setup-go@v3
        with:
          go-version: '^1.x'

      - uses: docker/setup-qemu-action@v3 # 必须包含，用于模拟 arm64 环境
      - uses: docker/setup-buildx-action@v3
        with:
          driver: docker-container
          driver-opts: network=host

      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - id: prepare
        run: echo "tag=$(cat ../version)" >> $GITHUB_ENV

      - name: Compile Binaries (Native)
        # 这一步仅在 Runner (x86) 上编译二进制文件，以加快速度
        run: |
          set -eux;
          TAG=${{ env.tag }}
          IMAGENAMESPACE=ghcr.io/${{ github.repository }}
          CTX="BUILDBIN=true VERSIONTAG=${TAG} BASEIMAGETAG=${TAG} MULTIARCH=true IMAGENAMESPACE=${IMAGENAMESPACE} BASEIMAGENAMESPACE=${IMAGENAMESPACE}"
          
          make versions_prepare ${CTX};
          
          case ${{ matrix.component }} in
            core)                    make compile_core ${CTX} ;;
            jobservice)              make compile_jobservice ${CTX};;
            registryctl)             make compile_registryctl ${CTX};;
            standalone_db_migrator) make compile_standalone_db_migrator ${CTX} ;;
          esac;

      - name: Build & Publish Multi-arch Image
        uses: docker/build-push-action@v6
        with:
          context: ./harbor
          file: ./harbor/make/photon/${{ matrix.component == 'trivy_adapter' && 'trivy-adapter' || matrix.component }}/Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          build-args: |
            # 必须对应 Dockerfile 里的变量名
            harbor_base_image_version=${{ env.tag }}
            harbor_base_namespace=ghcr.io/${{ github.repository }}
          tags: |
            ghcr.io/${{ github.repository }}/harbor-${{ matrix.component == 'trivy_adapter' && 'trivy-adapter' || matrix.component }}:${{ env.tag }}
